target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*


.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/


.classpath
.project
.settings/
bin/
.metadata
*.launch
*.pydevproject
.cproject


.vscode/
*.code-workspace
.history/


nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# TestNG Reports
test-output/
test-results/
surefire-reports/
testng-reports/
testng-results.xml
testng-failed.xml
emailable-report.html

# Log Files
*.log
logs/
state/logs/
state/logs/**/*.log
state/logs/**/*.txt

# Extent Reports
state/reports/
state/reports/**/*.html
state/reports/**/*.xml


screenshots/
screenshots/**/*.png
screenshots/**/*.jpg
screenshots/**/*.jpeg
screenshots/**/*.gif


# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Linux
*~
.directory
.Trash-*

*.tmp
*.temp
*.swp
*.swo
*~
*.bak
*.backup
*.orig


chromedriver
geckodriver
msedgedriver
operadriver
IEDriverServer.exe

.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper.jar

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip


*.dump
*.dumpstream

# Test execution artifacts
*.bin
*.lst